.waves{
    position: fixed;
    background-image: url('waves.svg');
    background-repeat: repeat;
    background-size: 100% 200%;
    bottom: -5px;
    height: 40vh;
    width: 100vw;
    animation: waves 30s linear infinite;
    animation-direction: normal;
    z-index: 999;
    transition: filter 500ms ease-in;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -100vw;
    }
}

.yellow{
    filter: hue-rotate(195deg);
}
.green{
    filter: hue-rotate(-90deg);
}